.header {
  background-color: rgb(0,0,0);
  color: #000;
  padding: 20px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign-in-button button {
  font-size: 0.875rem;
  font-weight: 500;
  min-height: 2rem;
  padding: 0.25rem 1rem;
  background: rgb(229, 9, 20);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.sign-in-button button:hover {
  /* background-color: #2980b9; */
  opacity: 0.7;
}

h1 {
  color: rgb(229, 9, 20);
  fill: currentColor;
}